<div class="row">
  <div class="col-sm-offset-1 col-sm-5" id="divmsg"></div>
</div>
<div class="row">
  <h2>Add new change</h2>
</div>
<br>
<form class="form-horizontal" id="addform" role="form">
  <div class="form-group">
    <label class="col-sm-1 control-label" title="Who made the change">User</label>
    <div class="col-sm-1">
      <input type="text" class="form-control" placeholder="e.g. xy123" maxlength="16" id="cl_user" name="cl_user" value="<%= user_id %>" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-1 control-label" title="Rate the impact of the change">Criticality</label>
    <div class="col-sm-1">
      <select class="form-control" id="cl_criticality" name="cl_criticality" required>
        <option value="1">1*</option>
        <option value="2">2</option>
        <option value="3" selected>3</option>
      </select>
    </div>
    <div class="col-sm-2">* 1=Critical</div>
  </div>
  <div class="form-group">
    <label class="col-sm-1 control-label" title="When was the change made">Date</label>
    <div class="col-sm-2">
      <input type="date" class="form-control" id="cl_date" name="cl_date" value="<%= Time.now.strftime("%Y-%m-%d") %>" required>
    </div>
    <div class="col-sm-2">
      <input type="time" class="form-control" id="cl_time" name="cl_time" value="<%= Time.now.strftime("%H:%M:%S") %>">
    </div>
  </div>
  <% puts Time.now.strftime("%d/%m/%Y %I:%M %p") %>
  <div class="form-group">
    <label class="col-sm-1 control-label" title="Where was the change made">Hostname</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" placeholder="e.g. serv1.example.com" maxlength="64" id="cl_hostname" name="cl_hostname" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-1 control-label" title="Summary of the change">Description</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" placeholder="e.g. restart apache, unresponsive" id="cl_description" name="cl_description" required>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-1 control-label">Body</label>
    <div class="col-sm-6">
      <textarea rows="10" class="form-control" placeholder="Paste your change here (not required) - could be console output, diff, etc." id="cl_body" name="cl_body" form="addform"></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-1">
      <button type="submit" class="btn btn-default">Post</button>
    </div>
  </div>
</form>
