
  <div class="row">
    <h2>Access Token</h2>
  </div>
  <br>
  <table class="table table-striped table-condensed table-hover">
    <tr class="warning">
      <td title="user_id"><%= user_id %></td>
      <td title="token"><%= token %></td>
      <td title="token"><%= expiry %></td>
    </tr>
  </table>
